<head>
<h1>Hello and welcome to My Medical!</h1>
</head>

<body>
<h3>My Medical is a one-stop central repository that remembers your important medical data so that you don't have to.</h3>

<h4><i><small>With so many different types of doctors and so many appointments to keep track of, we would like to do the work for you! No more forgetting to schedule a follow up appointment or forgetting to renew an expired prescription.</small></i></h4>

<hr>
<ol>
<strong>If this is your first time logging in, please follow the below steps to get started:</strong>

<li>Enter information for all of your current <a href="/doctors/new">doctors.</a></li>

<li>Enter information for all of your current <a href="/prescriptions/new">prescriptions.</a></li>
</ol>

</body>




